<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Manager Managers</h5>
                </div>
                <form (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
                    <div class=" card-body">
                        <div class="row">
                            <div class=" col-md-6 pr-md-1">
                                <div class="form-group">
                                    <div>
                                        <label for="firstname"> First Name </label>
                                        <div [hidden]="firstname.valid || !firstname.touched" class="text-danger">
                                            First Name is required
                                        </div>
                                    </div>
                                    <input id="firstname" [(ngModel)]="manager.firstname" #firstname="ngModel" required
                                        name="firstname" class=" form-control" placeholder="Manager's First Name"
                                        type="text" />
                                </div>
                            </div>
                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <label> Last Name </label>
                                    <div [hidden]="lastname.valid || !lastname.touched" class="text-danger">
                                        Last Name is required
                                    </div>
                                    <input id="lastname" name="lastname" #lastname="ngModel" required
                                        [(ngModel)]="manager.lastname" class=" form-control"
                                        placeholder="Manager's Last Name" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label> Username </label>
                                    <div [hidden]="username.valid || !username.touched" class="text-danger">
                                        Username is required
                                    </div>
                                    <input id="username" name="username" #username="ngModel" required
                                        [(ngModel)]="manager.username" class=" form-control" placeholder="Username"
                                        type="text" />
                                </div>
                            </div>
                            <div class="col-md-4 pr-md-1 pl-md-1">
                                <div class="form-group">
                                    <label> Password </label>
                                    <div [hidden]="password.valid || !password.touched" class="text-danger">
                                        Password is required
                                    </div>
                                    <input id="password" #password="ngModel" name="password" #password="ngModel"
                                        [(ngModel)]="manager.password" required class=" form-control"
                                        placeholder="Password" type="password" />
                                </div>
                            </div>
                            <div class=" col-md-4 pl-md-1">
                                <div class=" form-group">
                                    <label for="exampleInputEmail1"> Email address </label>
                                    <div [hidden]="email.valid || !email.touched" class="text-danger">
                                        Email is required
                                    </div>
                                    <input id="email" required name="email" #email="ngModel" [(ngModel)]="manager.email"
                                        class="form-control" placeholder="example@email.com" type="email" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12">
                                <div class=" form-group">
                                    <label> Manager's Personal Address / Shop Address </label>
                                    <div [hidden]="address.valid || !address.touched" class="text-danger">
                                        Address is required
                                    </div>
                                    <input id="address" name="address" #address="ngModel" required
                                        [(ngModel)]="manager.address" class=" form-control"
                                        placeholder="Building name / number, street" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-4 pr-md-1">
                                <div class=" form-group">
                                    <label> District </label>
                                    <div [hidden]="district.valid || !district.touched" class="text-danger">
                                        District is required
                                    </div>
                                    <input id="district" name="district" #district="ngModel" required
                                        [(ngModel)]="manager.district" class="form-control" placeholder="District"
                                        type="text" value="Thiruvananthapuram" />
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class="form-group">
                                    <label> State </label>
                                    <div [hidden]="state.valid || !state.touched" class="text-danger">
                                        State is required
                                    </div>
                                    <input #state="ngModel" [(ngModel)]="manager.state" required id="state" name="state"
                                        class="form-control" placeholder="State" type="text" value="Kerala" />
                                </div>
                            </div>
                            <div class=" col-md-4 pl-md-1">
                                <div class=" form-group">
                                    <label> Postal Code </label>
                                    <div [hidden]="postal.valid || !postal.touched" class="text-danger">
                                        Postal Code is required
                                    </div>
                                    <input #postal="ngModel" [(ngModel)]="manager.postal" required id="postal"
                                        name="postal" class=" form-control" placeholder="ZIP Code" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-4 pr-md-1">
                                <div class=" form-group">
                                    <label> Country </label>
                                    <div [hidden]="country.valid || !country.touched" class="text-danger">
                                        Country is required
                                    </div>
                                    <input #country="ngModel" [(ngModel)]="manager.country" required id="country"
                                        name="country" class="form-control" placeholder="Country" type="text"
                                        value="Kerala" />
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <label> Contact Number 1 </label>
                                    <div [hidden]="contctno1.valid || !contctno1.touched" class="text-danger">
                                        Contact Number 1 is required
                                    </div>
                                    <input id="contctno1" #contctno1="ngModel" name="contctno1" required
                                        [(ngModel)]="manager.contctno1" class="form-control"
                                        placeholder="Contact Number 1" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-4 pl-md-1">
                                <div class=" form-group">
                                    <label> Contact Number 2 </label>
                                    <input class=" form-control" placeholder="Contact Number 2" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>