
<div class=" content">
    <div class=" row">
        <div class="col-md-12">
            <button [routerLink]="['/manage-manager', 0]" class="btn btn-primary">Add New</button>
        </div>
    </div>
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Managers</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>SI No</th>
                    <th>Manager</th>
                    <th>Location</th>
                    <th>Contact No</th>
                    <th class=" text-center">Edit</th>
                    <th class=" text-center">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let manager of managers; let i = index">
                    <td> {{ i + 1 }} </td>
                    <td> {{manager.firstname}} {{manager.lastname}} </td>
                    <td> {{manager.country | uppercase}}, {{manager.state}}, {{manager.district}} </td>
                    <td> {{manager.contctno1}}, {{manager.contctno2}} </td>
                    <td class=" text-center">
                        <button [routerLink]="['/manage-manager', manager.id]" class="btn btn-success">Edit</button>
                    </td>
                    <td class=" text-center">
                        <button (click)="deleteManager(manager.id)" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  